<ion-content padding="true" class="has-header" swipeBackEnabled="false">
    <div margin-top>
        <img src="assets/imgs/pplogo.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="login-heading1" style="color:rgb(250, 34, 34);font-weight:600;text-align:center;">HK Mobile</h5>
    <ion-grid item-content>
        <ion-row>
            <ion-col>
                <ion-list>
                    <ion-item>
                        <ion-label stacked>Username</ion-label>
                        <ion-input type="text" [(ngModel)]="username"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label stacked>Password</ion-label>
                        <ion-input type="password" [(ngModel)]="password"></ion-input>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div text-center>
        <button ion-button round color="danger" (click)='login();'>Login</button>
    </div>
    <ion-footer no-shadow *ngIf="!keyboard.isOpen()">
                <p style='color:rgb(0, 0, 0);font-weight:400;text-align:center;'>Versi 1.0 Copyright © 2019 <br/>PT HK (Persero)</p>
    </ion-footer>

</ion-content>