.toolbar-background {
    // background-color: #4aa8ed;
}

page-login {
    .list-ios>.item-block:first-child,
    .list-ios>.item-block:last-child,
    .list-ios>.item-wrapper:last-child .item-block {
        border-top: 0px !important;
    }
    .list-ios .item-block .item-inner {
        border-bottom: 0px !important;
    }
    ion-content {
        background-image: url('../assets/imgs/bgqatol.jpg');
        background-position: center;
    }
    ion-item:first-child {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    ion-item:last-child {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    ion-item.item {
        background-color: rgba(255, 255, 255, 0.8);
        margin-bottom: 1px;
        .label {
            // width: 10%;
            color: rgba(0, 0, 0, 0.6);
            // font-size: 1.2em;
        }
    }
}