<ion-view title="Approval SPB" id="page3">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h3 id="approvalSPB-heading2" style="color:#000000;font-weight:600;">Approve(2)</h3>
    <div class="list card" id="approvalSPB-card21">
      <ion-item class="item-avatar" id="approvalSPB-list-item3" ui-sref="approveSPB()">
        <img src="img/FlBmfAaSjGRxt5x89vF3_logotelkommm.PNG">
        <h2>test</h2>
        <p style="white-space:normal;">*Tiket Perjalanan dinas dan hotel</p>
      </ion-item>
      <ion-item class="item-icon-left" id="approvalSPB-list-item5">
        <i class="icon No Icon"></i>SPB: 0000000154</ion-item>
      <ion-item class="item-icon-left" id="approvalSPB-list-item23">
        <i class="icon No Icon"></i>55.000.000 IDR</ion-item>
      <ion-item class="item-icon-left item-icon-right" id="approvalSPB-list-item16">
        <i class="icon No Icon"></i>Tgl: 03-10-17
        <i class="icon ion-closed-captioning"></i>
      </ion-item>
      <ion-item class="item-avatar" id="approvalSPB-list-item21" ui-sref="approveSPB()">
        <img src="img/w5RzZuaRQqNNmUKieXZ5_logotelkommm.PNG">
        <h2>test</h2>
        <p>*Tiket Perjalanan dinas dan hotel</p>
      </ion-item>
      <ion-item class="item-icon-left" id="approvalSPB-list-item22">
        <i class="icon No Icon"></i>SPB: 0000000155</ion-item>
      <ion-item class="item-icon-left" id="approvalSPB-list-item6">
        <i class="icon No Icon"></i>66.000.000 IDR</ion-item>
      <ion-item class="item-icon-left item-icon-right" id="approvalSPB-list-item24">
        <i class="icon No Icon"></i>Tgl: 03-10-17
        <i class="icon ion-closed-captioning"></i>
      </ion-item>
    </div>
  </ion-content>
</ion-view>