<ion-view title="Approve SPB" id="page4" style="background-color:#FFFFFF;">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="approveSPB-list2">
      <ion-item class="item-divider" id="approveSPB-list-item-divider3"> No SPB 0000000155</ion-item>
      <ion-item class="item-divider" id="approveSPB-list-item-divider4"> Tgl Tgl:03-10-2017</ion-item>
      <ion-item class="item-divider" id="approveSPB-list-item-divider5"> Vendor Test</ion-item>
    </ion-list>
    <ion-list id="approveSPB-list5">
      <ion-item class="item-divider" id="approveSPB-list-item-divider6"> Currency IDR</ion-item>
      <ion-item class="item-divider" id="approveSPB-list-item-divider7"> Tagihan 66.000.000</ion-item>
      <ion-item class="item-divider" id="approveSPB-list-item-divider8"> Payment 66.000.000</ion-item>
    </ion-list>
    <h5 id="approveSPB-heading4" style="color:#000000;font-weight:400;">Keterangan *GA Meeting Accomodation</h5>
    <button id="approveSPB-button5" class="button button-positive button-block">Approve</button>
    <button id="approveSPB-button6" class="button button-assertive button-block">Delete</button>
  </ion-content>
</ion-view>