<ion-view title="Home" hide-back-button="true" id="page2">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header">
    <div>
      <img src="img/uROdFwPSS614WGF5I5Af_PP.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <a style="display:block;" ui-sref="approvalSPB()">
        <img src="img/uUzAK0d9RDWF7Citao4X_spb.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>