<ion-view title="Login" id="page1">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/oMR1owLRUHnqjABRvwIs_logo-Telin-Indonesia.ai_1.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="login-heading1" style="color:#D80000;font-weight:600;text-align:center;">SPB Mobile</h5>
    <form id="login-form2" class="list">
      <label class="item item-input item-stacked-label" id="login-input1">
        <span class="input-label">NIK</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input item-stacked-label" id="login-input6">
        <span class="input-label">SAP Password</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <a ui-sref="home()" id="login-button2" style="color:#FFFFFF;" class="button button-assertive button-block">SIGN IN</a>
    <div id="login-markdown3" style="text-align:center;" class="show-list-numbers-and-dots"></div>
    <div id="login-markdown6" style="text-align:center;" class="show-list-numbers-and-dots"></div>
    <div id="login-markdown11" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Versi 1.0 Copyright @2017 PT Telekomunikasi Indonesia International</p>
    </div>
  </ion-content>
</ion-view>