<ion-header>
    <ion-navbar color="{{global.nav_color}}">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
    <h4 id="welcome-message">Komposisi Aset</h4>
    <div style="display: block;">
        <canvas #doughnutCanvas></canvas>
    </div>
    <h4 id="welcome-message">GrafikLaba</h4>
    <div style="display: block;">
        <canvas #barGrafikLaba></canvas>
    </div>
    <h4 id="welcome-message">Komparasi PO Terhadap PR</h4>
    <div style="display: block;">
        <canvas #barCanvas></canvas>
    </div>
</ion-content>