page-home {
    .floatbadge {
        margin-top: -20px;
        position: absolute;
        background: red;
    }
    p {
        font-size: 14px !important;
    }
}

#notifications-badge {
    background-color: #4aa8ed;
    position: absolute;
    font-size: 16px;
    top: 37%;
    right: 35%;
    border-radius: 100%;
}

.card-background-page {
    ion-card {
        position: relative;
        text-align: center;
    }
    .card-avatar {
        position: absolute;
        top: 10%;
        width: 20%;
    }
    .card-title {
        position: absolute;
        top: 50%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }
    .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 35%;
        width: 100%;
        color: #fff;
    }
}

.ios,
.md {
    page-home {
        .scroll-content {
            background-color: map-get($colors, light);
        }
        ion-card-header {
            font-weight: bold;
        }
    }
}

#welcome-message {
    margin-left: 20px;
    color: #605e5d;
}

.circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

#notification-button {
    position: relative;
    width: 42px;
    top: 1px;
    right: 1px;
    overflow: visible!important;
}

#notifications-badge {
    background-color: red;
    position: absolute;
    top: -3px;
    right: -3px;
    border-radius: 100%;
}

// color button
.greenx {
    background: #00E676;
}

.amber {
    background: #FFC107;
}

.orange {
    background: #FF9800;
}

.lblue {
    background: #03A9F4;
}

.blue {
    background: #0D47A1;
}

.pink {
    background: #E91E63;
}

.ios, .md {

    page-home {

        .scroll-content {
            background-color: map-get($colors, light);
        }

        ion-card-header {
            font-weight: bold;
        }

    }

}