<ion-menu [content]="content" [swipeEnabled]="false">
    <ion-header>
        <ion-toolbar color="{{navcol}}">
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <button item-start menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        &nbsp;<ion-icon name="{{p.icon}}"></ion-icon> {{p.title}} <ion-badge *ngIf="p.badge!='X'" item-end>{{p.badge}}</ion-badge>
      </button>
            <button item-start menuClose ion-item (click)="logout()">
        &nbsp;<ion-icon name="power"></ion-icon> Logout
      </button>
        </ion-list>
    </ion-content>

    <ion-buttons end>
        <button ion-button icon-only (click)="openModal()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>