// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-background {
    // background-color: #4aa8ed;
}

.bar-button-default,
.bar-button-default.bar-button-ios-default,
.bar-button-clear-ios-default {
    color: white;
}

.toolbar-title {
    color: white;
}

.item {
    border-bottom: 1px solid #e5e5e5;
}

ion-app.ios [padding] .scroll-content {
    padding: 1px;
}

.font-bold {
    font-weight: bold;
}

.font-white {
    color: white !important;
}

.font-orange {
    color: #EF823F !important;
}

.font-blue {
    color: rgb(13, 29, 243) !important;
}

.font-red {
    color: rgb(238, 13, 13) !important;
}

.font-green {
    color: rgb(19, 173, 45) !important;
}

.bg-orange {
    background-color: #EF823F !important;
}

.bg-blue {
    background-color: #3574b2;
}

.bg-red {
    background-color: rgb(221, 15, 15) !important;
}

.bg-green {
    background-color: #10a524;
}

.padding-0 {
    padding: 0px !important;
}

.padding-10 {
    padding: 10px !important;
}

.padding-l-10 {
    padding-left: 10px !important;
}

.margin-b-15 {
    margin-bottom: 15px !important;
}

.margin-r-15 {
    margin-right: 15px !important;
}

.margin-r-10 {
    margin-right: 10px !important;
}

p {
    font-size: 12px !important;
}

h2 {
    font-weight: bold !important;
}

.green {
    color: green;
}

.red {
    color: red;
}

.scroll-content {
    padding: 1px;
}

.margin-b-50 {
    margin-bottom: 50px;
}